*~
ChangeLog
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
gtk-doc.make
install-sh
librsvg-enum-types.c
librsvg-enum-types.h
librsvg-features.h
librsvg-zip
librsvg.spec
libtool
ltmain.sh
missing
rsvg
rsvg-convert
rsvg-dimensions
rsvg-view
rsvg-view-3
s-enum-types-c
s-enum-types-h
stamp-h1
test-driver
test-performance
*.pc
*.stamp
*-out.png
*-diff.png
*.la
*.o
*.lo
.deps
.libs
doc/html/
doc/rsvg-decl-list.txt
doc/rsvg-decl.txt
doc/rsvg-undeclared.txt
doc/rsvg-undocumented.txt
doc/rsvg-unused.txt
doc/rsvg.args
doc/rsvg.hierarchy
doc/rsvg.interfaces
doc/rsvg.prerequisites
doc/rsvg.signals
doc/tmpl/rsvg-cairo.sgml
doc/tmpl/rsvg-file-util.sgml.bak
doc/tmpl/rsvg.sgml.bak
doc/version.xml
doc/xml/
gdk-pixbuf-loader/gdk-pixbuf.loaders
gdk-pixbuf-loader/librsvg.thumbnailer
gdk-pixbuf-loader/rsvg-loader
rust/*~
rust/src/*~
rust/src/parse_transform.rs
target/
tests/dimensions
tests/pdiff/perceptualdiff
tests/api
tests/crash
tests/loading
tests/render-crash
tests/rsvg-test
tests/styles
tests/*.log
tests/*.trs
tools/test-memory
Rsvg-2.0.gir
Rsvg-2.0.typelib
librsvg-2.0.vapi
librsvg-*.tar.xz
librsvg-*.tar.bz2
rust/target
_rsvg_dummy.c
