# -*- indent-tabs-mode: nil -*-

variables:
  # Docker images for various distros and architectures

  AMD64_FEDORA_LATEST:       "registry.gitlab.com/alatiera/librsvg-oci-images/amd64/fedora:latest"
  AMD64_OPENSUSE_TUMBLEWEED: "registry.gitlab.com/alatiera/librsvg-oci-images/amd64/opensuse:tumbleweed"
  AMD64_DEBIAN_TESTING:      "registry.gitlab.com/alatiera/librsvg-oci-images/amd64/debian:testing"

  I386_DEBIAN_TESTING:       "registry.gitlab.com/alatiera/librsvg-oci-images/i386/debian:testing"

  RUSTFMT_NIGHTLY:           "registry.gitlab.com/alatiera/rustfmt-oci-image/rustfmt:nightly"
  RUST_NIGHTLY:              "rustlang/rust:nightly"

stages:
  - test
  - lint
  - cross_distro_amd64
  - cross_distro_i386

.test_template: &distro_test
  before_script:
    # CCache Config
    - mkdir -p ccache
    - export CCACHE_BASEDIR=${PWD}
    - export CCACHE_DIR=${PWD}/ccache
    - export CC="ccache gcc"

    # Only stuff inside the repo directory can be cached
    # Override the CARGO_HOME variable to force it location
    - export CARGO_HOME=".cargo_cache/"
  script:
    - rustc --version && cargo --version
    - ./autogen.sh --enable-gtk-doc
    - make check

  after_script:
    - mkdir png_artifacts
    - cp /tmp/*.png png_artifacts

  artifacts:
    when: on_failure
    paths:
      - tests/*.log
      - png_artifacts

  cache:
    # Each job will have it's own cache
    key: "$CI_JOB_NAME"
    paths:
      - target/
      - .cargo_cache/
      - ccache/

# .deb_template: &deb_deps
#   before_script:
#     - apt update -yqq
#     - apt-get install -yqq gcc make
#                   automake autoconf libtool gettext itstool
#                   libgdk-pixbuf2.0-dev libgirepository1.0-dev
#                   gtk-doc-tools git libgtk-3-dev rustc cargo
#                   libxml2-dev libcroco3-dev libcairo2-dev libpango1.0-dev

# TEST STAGE
########################################################################

fedora:test:
  image: $AMD64_FEDORA_LATEST
  stage: test
  variables:
    LIBRSVG_DEBUG: "yes"
  <<: *distro_test

fedora:test_release:
  image: $AMD64_FEDORA_LATEST
  stage: test
  variables:
    LIBRSVG_DEBUG: "no"
  <<: *distro_test


# CROSS DISTRO AMD64 TEST STAGE
#######################################################################

fedora:rawhide:
  image: $AMD64_FEDORA_LATEST
  stage: cross_distro_amd64
  variables:
    LIBRSVG_DEBUG: "yes"
  <<: *distro_test
  only:
    - librsvg-2.42
    - master
    - schedules
    - tags
    - web

opensuse:tumbleweed:
  image: $AMD64_OPENSUSE_TUMBLEWEED
  stage: cross_distro_amd64
  variables:
    LIBRSVG_DEBUG: "yes"
  <<: *distro_test
  only:
    - librsvg-2.42
    - master
    - schedules
    - tags
    - web

debian:testing:
  image: $AMD64_DEBIAN_TESTING
  stage: cross_distro_amd64
  variables:
    LIBRSVG_DEBUG: "yes"
  <<: *distro_test
  only:
    - librsvg-2.42
    - master
    - schedules
    - tags
    - web

# TODO: Enable this when ubuntu update it's rustc package
# https://launchpad.net/ubuntu/+source/rustc/1.23.0+dfsg1+llvm-0ubuntu2
# ubuntu:18.04:
#   image: ubuntu:18.04
#   stage: cross_distro
#   <<: *deb_deps
#   <<: *distro_test
#   only:
#     - master
#     - schedules
#     - tags
#     - web


# CROSS DISTRO RELEASE AMD64 TEST STAGE
#######################################################################

fedora:rawhide_release:
  image: $AMD64_FEDORA_LATEST
  stage: cross_distro_amd64
  variables:
    LIBRSVG_DEBUG: "no"
  <<: *distro_test
  only:
    - librsvg-2.42
    - schedules
    - tags
    - web

opensuse:tumbleweed_release:
  image: $AMD64_OPENSUSE_TUMBLEWEED
  stage: cross_distro_amd64
  variables:
    LIBRSVG_DEBUG: "no"
  <<: *distro_test
  only:
    - librsvg-2.42
    - schedules
    - tags
    - web

debian:testing_release:
  image: $AMD64_DEBIAN_TESTING
  stage: cross_distro_amd64
  variables:
    LIBRSVG_DEBUG: "no"
  <<: *distro_test
  only:
    - librsvg-2.42
    - schedules
    - tags
    - web

# CROSS DISTRO i386
#######################################################################

debian:testing_i386:
  image: $I386_DEBIAN_TESTING
  stage: cross_distro_i386
  variables:
    LIBRSVG_DEBUG: "yes"
  <<: *distro_test
  only:
    - librsvg-2.42
    - master
    - schedules
    - tags
    - web

# CROSS DISTRO RELEASE i386
#######################################################################

debian:testing_release_i386:
  image: $I386_DEBIAN_TESTING
  stage: cross_distro_i386
  variables:
    LIBRSVG_DEBUG: "no"
  <<: *distro_test
  only:
    - librsvg-2.42
    - schedules
    - tags
    - web

# LINT STAGE
#######################################################################

# Configure and run rustfmt on nightly
# Exits and builds fails if on bad format
rustfmt:
  image: $RUSTFMT_NIGHTLY
  stage: lint
  variables:
    CFG_RELEASE_CHANNEL: "nightly"
  script:
    - rustc --version && cargo --version
    - cargo install rustfmt-nightly --force
    - cargo fmt --all -- --write-mode=diff
  when: manual


# Configure and run clippy on nightly
# Only fails on errors atm.
clippy:
  image: $RUST_NIGHTLY
  stage: lint
  before_script:
    - apt update -yqq
    - apt-get install -yqq --no-install-recommends libgdk-pixbuf2.0-dev
                      libgirepository1.0-dev gtk-doc-tools git  libgtk-3-dev
                      libxml2-dev libcroco3-dev libcairo2-dev libpango1.0-dev

  script:
    - rustc --version && cargo --version
    - cargo install clippy --force
    - cargo clippy --all
  when: manual
