# -*- indent-tabs-mode: nil -*-

stages:
  - test
  - lint
  - cross_distro
  - cross_distro_release

.test_template: &distro_test
  before_script:
    # CCache Config
    - mkdir -p ccache
    - export CCACHE_BASEDIR=${PWD}
    - export CCACHE_DIR=${PWD}/ccache
    - export CC="ccache gcc"

    # Only stuff inside the repo directory can be cached
    # Override the CARGO_HOME variable to force it location
    - export CARGO_HOME=".cargo_cache/"
  script:
    - rustc --version && cargo --version
    - ./autogen.sh
    - make check

  after_script:
    - mkdir png_artifacts
    - cp /tmp/*.png png_artifacts

  artifacts:
    when: on_failure
    paths:
      - tests/*.log
      - png_artifacts

  cache:
    # Each job will have it's own cache
    key: "$CI_JOB_NAME"
    paths:
      - target/
      - .cargo_cache/
      - ccache/

# .deb_template: &deb_deps
#   before_script:
#     - apt update -yqq
#     - apt-get install -yqq gcc make
#                   automake autoconf libtool gettext itstool
#                   libgdk-pixbuf2.0-dev libgirepository1.0-dev
#                   gtk-doc-tools git libgtk-3-dev rustc cargo
#                   libxml2-dev libcroco3-dev libcairo2-dev libpango1.0-dev

# TEST STAGE
########################################################################

fedora:test:
  image: registry.gitlab.com/alatiera/librsvg-oci-images/fedora:latest
  stage: test
  before_script:
    - export LIBRSVG_DEBUG="yes"
  <<: *distro_test

fedora:test_release:
  image: registry.gitlab.com/alatiera/librsvg-oci-images/fedora:latest
  stage: test
  before_script:
    - export LIBRSVG_DEBUG="no"
  <<: *distro_test


# CROSS DISTRO TEST STAGE
#######################################################################

fedora:rawhide:
  image: registry.gitlab.com/alatiera/librsvg-oci-images/fedora:latest
  stage: cross_distro
  before_script:
    - export LIBRSVG_DEBUG="yes"
  <<: *distro_test
  only:
    - master
    - schedules
    - tags
    - web

opensuse:tumbleweed:
  image: registry.gitlab.com/alatiera/librsvg-oci-images/opensuse:tumbleweed
  stage: cross_distro
  before_script:
    - export LIBRSVG_DEBUG="yes"
  <<: *distro_test
  only:
    - master
    - schedules
    - tags
    - web

debian:testing:
  image: registry.gitlab.com/alatiera/librsvg-oci-images/debian:testing
  stage: cross_distro
  before_script:
    - export LIBRSVG_DEBUG="yes"
  <<: *distro_test
  only:
    - master
    - schedules
    - tags
    - web

# TODO: Enable this when ubuntu update it's rustc package
# https://launchpad.net/ubuntu/+source/rustc/1.23.0+dfsg1+llvm-0ubuntu2
# ubuntu:18.04:
#   image: ubuntu:18.04
#   stage: cross_distro
#   <<: *deb_deps
#   <<: *distro_test
#   only:
#     - master
#     - schedules
#     - tags
#     - web


# CROSS DISTRO RELEASE TEST STAGE
#######################################################################

fedora:rawhide_release:
  image: registry.gitlab.com/alatiera/librsvg-oci-images/fedora:latest
  stage: cross_distro_release
  before_script:
    - export LIBRSVG_DEBUG="no"
  <<: *distro_test
  only:
    - schedules
    - tags
    - web

opensuse:tumbleweed_release:
  image: registry.gitlab.com/alatiera/librsvg-oci-images/opensuse:tumbleweed
  stage: cross_distro_release
  before_script:
    - export LIBRSVG_DEBUG="no"
  <<: *distro_test
  only:
    - schedules
    - tags
    - web

debian:testing_release:
  image: registry.gitlab.com/alatiera/librsvg-oci-images/debian:testing
  stage: cross_distro_release
  before_script:
    - export LIBRSVG_DEBUG="no"
  <<: *distro_test
  only:
    - schedules
    - tags
    - web


# LINT STAGE
#######################################################################

# Configure and run rustfmt on nightly
# Exits and builds fails on bad format
rustfmt:
  image: registry.gitlab.com/alatiera/rustfmt-oci-image/rustfmt:nightly
  stage: lint
  script:
    - rustc --version && cargo --version
    - cargo fmt --all -- --write-mode=diff


# Configure and run clippy on nightly
# Only fails on errors atm.
clippy:
  image: "rustlang/rust:nightly"
  stage: lint
  before_script:
    - apt update -yqq
    - apt-get install -yqq --no-install-recommends libgdk-pixbuf2.0-dev
                      libgirepository1.0-dev gtk-doc-tools git  libgtk-3-dev
                      libxml2-dev libcroco3-dev libcairo2-dev libpango1.0-dev

  script:
    - rustc --version && cargo --version
    - cargo install clippy --force
    - cargo clippy --all
  when: manual
