*~
ChangeLog
Makefile.in
Makefile
TAGS
aclocal.m4
autom4te.cache
cargo_cache
compile
config.*
configure
depcomp
gtk-doc.make
install-sh
librsvg-zip
librsvg.spec
libtool
ltmain.sh
missing
stamp-h1
test-driver
.devcontainer
*.pc
*.stamp
*-out.png
*-diff.png
*.la
*.o
*.lo
.deps
.libs
_build/
doc/Makefile.in
doc/html/
doc/*.bak
doc/rsvg-decl-list.txt
doc/rsvg-decl.txt
doc/rsvg-undeclared.txt
doc/rsvg-undocumented.txt
doc/rsvg-unused.txt
doc/rsvg.actions
doc/rsvg.args
doc/rsvg.hierarchy
doc/rsvg.interfaces
doc/rsvg.prerequisites
doc/rsvg.signals
doc/tmpl/rsvg-cairo.sgml
doc/tmpl/rsvg-file-util.sgml.bak
doc/tmpl/rsvg.sgml.bak
doc/version.xml
doc/xml/
gdk-pixbuf-loader/Makefile.in
gdk-pixbuf-loader/gdk-pixbuf.loaders
gdk-pixbuf-loader/librsvg.thumbnailer
gdk-pixbuf-loader/rsvg-loader
include/rsvg-version.h
librsvg-c/tests-c/Makefile.in
m4/gettext.m4
m4/gtk-doc.m4
m4/host-cpu-c-abi.m4
m4/iconv.m4
m4/intlmacosx.m4
m4/introspection.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/pkg.m4
m4/po.m4
m4/progtest.m4
target/
tests/api
tests/rsvg-test
tests/*.log
tests/*.trs
win32/Makefile.in
win32/config-msvc.mak
win32/*.bat
win32/vs12
win32/vs14
win32/__pycache__
Rsvg-2.0.gir
Rsvg-2.0.typelib
librsvg-2.0.vapi
librsvg-*.tar.xz
librsvg-*.tar.bz2
_rsvg_dummy.c
include/librsvg/rsvg-version.h
tools/docker/debian/build-librsvg.sh
tools/docker/debian/librsvg.tar.gz
tools/docker/opensuse/build-librsvg.sh
tools/docker/opensuse/librsvg.tar.gz
tools/docker/fedora/build-librsvg.sh
tools/docker/fedora/librsvg.tar.gz
